DNS server for dynamic discovery with edelivery - local testing

Hi, 

In edelivery dynamic discovery NAPTR records is used to locate a SMP server. The SMP server is located with an URL.

To have naptrReplacement as an URL isn't working since **:** isn't allowed as a character in the replacement string.

```json
{"server":"dns","status":"error","errorMessage":"Invalid domain name [http://foo.bar]: invalid character [58] was found.","stackTrace":"   at TechnitiumLibrary.Net.Dns.ResourceRecords.DnsNAPTRRecordData..ctor(UInt16 order, UInt16 preference, String flags, String services, String regexp, String replacement) in Z:\\Technitium\\Projects\\TechnitiumLibrary\\TechnitiumLibrary.Net\\Dns\\ResourceRecords\\DnsNAPTRRecordData.cs:line 52\n   at DnsServerCore.DnsWebService.WebServiceZonesApi.AddRecord(HttpContext context) in Z:\\Technitium\\Projects\\DnsServer\\DnsServerCore\\WebServiceZonesApi.cs:line 3867\n   at lambda_method36(Closure, Object, HttpContext)\n   at Microsoft.AspNetCore.Routing.EndpointMiddleware.Invoke(HttpContext httpContext)\n   at Microsoft.AspNetCore.Routing.EndpointRoutingMiddleware.Invoke(HttpContext httpContext)\n   at DnsServerCore.DnsWebService.WebServiceApiMiddleware(HttpContext context, RequestDelegate next)\n   at Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddlewareImpl.\u003CInvoke\u003Eg__Awaited|10_0(ExceptionHandlerMiddlewareImpl middleware, HttpContext context, Task task)"}
```
Trying to escape with \ just gives me an other bat character.
Running with the latest docker image.

Thanks for the feedback. As per the [RFC 3403 Section 4.1](https://www.rfc-editor.org/rfc/rfc3403.html#section-4.1), the `replacement` field in the NAPTR record MUST be a Fully Qualified Domain Name (FQDN). Which is why there is a validation check for this record in place.

Since you are saying that you need to configure a URL in the `replacement` field, do you have any resources/link which you can share so that I can understand the requirement better?

This type of replacement is done in edelivery SML lookups that builds on naptr lookups. I maged to find an example in the specification:

https://ec.europa.eu/digital-building-blocks/sites/spaces/DIGITAL/pages/843612547/eDelivery+BDXL+-+2.0 chapter 4.3 (link below didn't work for me)

U-NAPTR is used, https://www.rfc-editor.org/rfc/rfc4848. that has a different specification on the replacement.


Thanks. Will check this soon and let you know.

Apologies for the delay in responding. I read the link you shared with the example and also read RFC 4848. In the U-NAPTR record type, the specification for the `REPLACEMENT` parameter is not modified. The `REPLACEMENT` parameter must be a FQDN itself.

The URI that needs to be configured goes into the `REGEXP` field. You can see the example in the link you shared, the chapter 4.3 is as below:

<img width="1476" height="570" alt="Image" src="https://github.com/user-attachments/assets/da47a82d-1048-4ccf-84fc-005fdbdfe51d" />

In the example above, the `REPLACEMENT` field is empty, whereas the URI is configured as a regex in the `REGEXP` field as `!.*!https://www.anotherexample.com/smp2/prod!`. 

The syntax for the `REGEXP` field in the RFC 4848 is as below:
`u-naptr-regexp = "!.*!"<URI>"!"`

So, you just need to make sure that your URI is enclosed in the regex syntax defined in the RFC when you configure the NAPTR record for your application.

Let me know if you have any queries on this.

Edit: The above example from the link will look like this in the DNS server's GUI for your reference:

<img width="1402" height="219" alt="Image" src="https://github.com/user-attachments/assets/a6a113ba-ad80-45db-9aaf-7ecc75236fe6" />