Domain with dash can't be resolved, while works with CloudFlare and Google

I'm trying to access https://ucode.mein.io and Technitium returns
```
      "InfoCode": "NoReachableAuthority",
      "ExtraText": "bifrost (127.0.0.1) returned RCODE=ServerFailure for ucode.mein.io. AAAA IN"
```

However, same host resolves fine if I choose Cloudflare or Google DNS (in dashboard):
```
  "Answer": [
    {
      "Name": "ucode.mein.io",
      "Type": "CNAME",
      "Class": "IN",
      "TTL": "86400 (1d)",
      "RDLENGTH": "14 bytes",
      "RDATA": {
        "Domain": "jow-.github.io"
      },
      "DnssecStatus": "Disabled"
    },
```

When I try to resolve it in the dashboard I get error popup
```
Error! Invalid domain name [jow-.github.io]: label cannot end with hyphen. 
```

Maybe it is true, because I can't ping this directly, so I wonder how it works with other DNS servers...

I actually just came here to report precisely the same issue with the same domain. I'm using a forwarding server. See the responses from technitium versus the response directly from the forwarding server.

I'm sure technitium's response is technically correct, but it's instead ignoring a valid response from the upstream and flagging a server failure because of the hyphen in the domain name.

Response from technitium to a query for ucode.mein.io

```
{
  "Metadata": {
    "NameServer": "my.nameserver (127.0.0.1)",
    "Protocol": "Udp",
    "DatagramSize": "66 bytes",
    "RoundTripTime": "78.51 ms"
  },
  "EDNS": {
    "UdpPayloadSize": 1232,
    "ExtendedRCODE": "ServerFailure",
    "Version": 0,
    "Flags": "None",
    "Options": [
      {
        "Code": "EXTENDED_DNS_ERROR",
        "Length": "20 bytes",
        "Data": {
          "InfoCode": "Other",
          "ExtraText": "Resolver exception"
        }
      }
    ]
  },
  "DnsClientExtendedErrors": [
    {
      "InfoCode": "NoReachableAuthority",
      "ExtraText": "my.nameserver (127.0.0.1) returned RCODE=ServerFailure for ucode.mein.io. A IN"
    }
  ],
  "Identifier": 88,
  "IsResponse": true,
  "OPCODE": "StandardQuery",
  "AuthoritativeAnswer": false,
  "Truncation": false,
  "RecursionDesired": true,
  "RecursionAvailable": true,
  "Z": 0,
  "AuthenticData": false,
  "CheckingDisabled": false,
  "RCODE": "ServerFailure",
  "QDCOUNT": 1,
  "ANCOUNT": 0,
  "NSCOUNT": 0,
  "ARCOUNT": 1,
  "Question": [
    {
      "Name": "ucode.mein.io",
      "Type": "A",
      "Class": "IN"
    }
  ],
  "Answer": [],
  "Authority": [],
  "Additional": [
    {
      "Name": "",
      "Type": "OPT",
      "Class": "1232",
      "TTL": "0 (0s)",
      "RDLENGTH": "24 bytes",
      "RDATA": {
        "Options": [
          {
            "Code": "EXTENDED_DNS_ERROR",
            "Length": "20 bytes",
            "Data": {
              "InfoCode": "Other",
              "ExtraText": "Resolver exception"
            }
          }
        ]
      },
      "DnssecStatus": "Disabled"
    }
  ]
}
```

Technitium cached record after failure

```
[
  {
    "name": "ucode.mein.io",
    "type": "A",
    "ttl": "2902 (48m22s)",
    "rData": {
      "dataType": "DnsSpecialCacheRecordData",
      "data": "FailureCache: ServerFailure; Other: Resolver exception for ucode.mein.io. A IN: Invalid domain name [jow-.github.io]: label cannot end with hyphen."
    },
    "dnssecStatus": "Unknown",
    "lastUsedOn": "2026-04-01T19:24:07.8998845Z"
  },
  {
    "name": "ucode.mein.io",
    "type": "CNAME",
    "ttl": "86302 (23h58m22s)",
    "rData": {
      "cname": "jow-.github.io"
    },
    "dnssecStatus": "Disabled",
    "responseMetadata": {
      "nameServer": "p0.freedns.controld.com:853 (76.76.2.11)",
      "protocol": "Tls",
      "datagramSize": "132 bytes",
      "roundTripTime": "89.03 ms"
    },
    "lastUsedOn": "2026-04-01T19:24:07.9004724Z"
  }
]
```

Actual response from the forwarding server (and all other non-technitium DNS servers)

```
{
  "Metadata": {
    "NameServer": "freedns.controld.com (76.76.2.11)",
    "Protocol": "Udp",
    "DatagramSize": "132 bytes",
    "RoundTripTime": "63.84 ms"
  },
  "EDNS": {
    "UdpPayloadSize": 1232,
    "ExtendedRCODE": "NoError",
    "Version": 0,
    "Flags": "None",
    "Options": []
  },
  "Identifier": 0,
  "IsResponse": true,
  "OPCODE": "StandardQuery",
  "AuthoritativeAnswer": false,
  "Truncation": false,
  "RecursionDesired": true,
  "RecursionAvailable": true,
  "Z": 0,
  "AuthenticData": false,
  "CheckingDisabled": false,
  "RCODE": "NoError",
  "QDCOUNT": 1,
  "ANCOUNT": 5,
  "NSCOUNT": 0,
  "ARCOUNT": 1,
  "Question": [
    {
      "Name": "ucode.mein.io",
      "Type": "A",
      "Class": "IN"
    }
  ],
  "Answer": [
    {
      "Name": "ucode.mein.io",
      "Type": "CNAME",
      "Class": "IN",
      "TTL": "86400 (1d)",
      "RDLENGTH": "14 bytes",
      "RDATA": {
        "Domain": "jow-.github.io"
      },
      "DnssecStatus": "Disabled"
    },
    {
      "Name": "jow-.github.io",
      "Type": "A",
      "Class": "IN",
      "TTL": "3600 (1h)",
      "RDLENGTH": "4 bytes",
      "RDATA": {
        "IPAddress": "185.199.108.153"
      },
      "DnssecStatus": "Disabled"
    },
    {
      "Name": "jow-.github.io",
      "Type": "A",
      "Class": "IN",
      "TTL": "3600 (1h)",
      "RDLENGTH": "4 bytes",
      "RDATA": {
        "IPAddress": "185.199.109.153"
      },
      "DnssecStatus": "Disabled"
    },
    {
      "Name": "jow-.github.io",
      "Type": "A",
      "Class": "IN",
      "TTL": "3600 (1h)",
      "RDLENGTH": "4 bytes",
      "RDATA": {
        "IPAddress": "185.199.110.153"
      },
      "DnssecStatus": "Disabled"
    },
    {
      "Name": "jow-.github.io",
      "Type": "A",
      "Class": "IN",
      "TTL": "3600 (1h)",
      "RDLENGTH": "4 bytes",
      "RDATA": {
        "IPAddress": "185.199.111.153"
      },
      "DnssecStatus": "Disabled"
    }
  ],
  "Authority": [],
  "Additional": [
    {
      "Name": "",
      "Type": "OPT",
      "Class": "1232",
      "TTL": "0 (0s)",
      "RDLENGTH": "0 bytes",
      "RDATA": {
        "Options": []
      },
      "DnssecStatus": "Disabled"
    }
  ]
}
```

@ytimenkov you can work around this by adding the following forwarder record to your root zone

<img width="1691" height="1268" alt="Image" src="https://github.com/user-attachments/assets/cf92cd27-b7ea-4bdd-9fd3-d35d88d91ef3" />

Thanks! I just added it to `/etc/hosts`.

Thanks for the post. The domain name is technically invalid as per [RFC 1035 section 2.3.1](datatracker.ietf.org/doc/html/rfc1035#section-2.3.1). But I think the hyphen check can be relaxed to allow resolution for such names. Will see how this can be implemented.

Technitium DNS Server v15.0 is now available that fixes this issue. Do upgrade and let me know your feedback.

Thanks, it works now!

Thanks for confirming.