resolving some adresses doesn't work with edns ecs enabled

enabling EDNS Client Subnet (ECS) and trying to resolve smtp.shoptet.cz leads to an error:
(same error with "ECS IPv4 Override" empty or prefilled using default "ECS IPv4 Prefix Length")
```
;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
; EDE: 0 (Other): (Resolver exception for smtp.shoptet.cz. A IN: Invalid response was received: EDNS Client Subnet mismatch (source prefix).)
; EDE: 13 (Cached Error): (smtp.shoptet.cz. A IN)
; EDE: 3 (Stale Answer): (smtp.shoptet.cz A IN)
;; QUESTION SECTION:
;smtp.shoptet.cz.               IN      A
```

Disabling EDNS ECS solves this error.
No problem with smtp.shoptet.cz and Adguard with EDNS ECS enabled and using the same upstream DNS servers.


Thanks for the post. The issue is with the domain's name servers which are returning ECS data in response which fails to match with the ECS in the request. The DNS Server is not accepting this response as per the [RFC 7871 section 11.2](https://www.rfc-editor.org/rfc/rfc7871#section-11.2) requirements. 

You can mitigate this issue by creating a Conditional Forwarder zone for such domain names and forward it to another upstream DNS server which does not have ECS enabled.

Will check if something can be done to avoid this issue.

Yes, I'm aware that there is a issue in the response from the upstream DNS servers not with Technitium DNS.
But there are quite a lot domain names with this issue and I don't know all of them.
And other DNS servers are able to handle answer for those domain names with ECS enabled...

Finger crossed :-)

I did some analysis for this issue and it looks like its best to ignore any non matching ECS response from name servers. Will get the code updated to reset the ECS info in response with scope set to 0 so that the response is not rejected outright and is cached for all subnets. This change should be available in the next update.

Technitium DNS Server v15.0 is now available that fixes this issue. Do upgrade and let me know your feedback.

yes, it is working nicely
```
;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
;; QUESTION SECTION:
;smtp.shoptet.cz.               IN      A

;; ANSWER SECTION:
smtp.shoptet.cz.        238     IN      A       78.24.15.95
```

Thanks for confirming!