Implement support for DNSSEC algorithms ED25519 and ED448

This was bought up during a discussion on the IPv6 discord server. It was bought up that apparently Technitium is lacking as a validating recursive resolver due to cryptographic algorithm support, so I looked into it and decided to file a issue here.

---

Technitium DNS appears to be lacking support for the newer DNSKEY algorithms. Specifically, ed25519 and ed448 which of which the former is recommended for signing support and the latter is recommended for validation support, as per RFC8624, section 3.1

References:
https://ed25519.no/
https://datatracker.ietf.org/doc/html/rfc8624#section-3.1

Thanks for the post. These algorithms are planned but not available as they are [not yet supported by .NET runtime](https://github.com/dotnet/runtime/issues/14741) since the algorithms are not natively available on some OS.

Of course it's microsoft. And it's been open since 2015 ffs.

hello I think this is really a highly critical issue and I understand this is more of upstream rather than technitium... at the moment my nginx **OCSP validation** for my Let's encrypt certificate is not working with DNSSEC enabled for the following domain `e5.o.lencr.org`  when checking technitium logs, DNSSEC says it's "Insecure"...

```2024/12/09 11:55:54 [error] 11#11: e5.o.lencr.org could not be resolved (110: Operation timed out) while requesting certificate status, responder: e5.o.lencr.org, certificate: "/certs/cert.cer"
2024/12/09 11:55:57 [error] 12#12: e5.o.lencr.org could not be resolved (110: Operation timed out) while requesting certificate status, responder: e5.o.lencr.org, certificate: "/certs/cert.cer"
2024/12/09 11:55:59 [error] 8#8: e5.o.lencr.org could not be resolved (110: Operation timed out) while requesting certificate status, responder: e5.o.lencr.org, certificate: "/certs/cert.cer"
```

> hello I think this is really a highly critical issue and I understand this is more of upstream rather than technitium... at the moment my nginx **OCSP validation** for my Let's encrypt certificate is not working with DNSSEC enabled for the following domain `e5.o.lencr.org` when checking technitium logs, DNSSEC says it's "Insecure"...

Thanks for the feedback. This is not related to this current issue. The domain `lencr.org` is [not DNSSEC signed](https://dnsclient.net/#Recursive%20Query%20%7Brecursive-resolver%7D/lencr.org/DNSKEY/UDP/true/) which is why the status is `Insecure`.

> ```
> 2024/12/09 11:55:57 [error] 12#12: e5.o.lencr.org could not be resolved (110: Operation timed out) while requesting certificate status, responder: e5.o.lencr.org, certificate: "/certs/cert.cer"
> 2024/12/09 11:55:59 [error] 8#8: e5.o.lencr.org could not be resolved (110: Operation timed out) while requesting certificate status, responder: e5.o.lencr.org, certificate: "/certs/cert.cer"
> ```

You need to use the DNS Client tool on the DNS admin panel to check why the domain "e5.o.lencr.org" is not resolving. The output will give you clues and if there are any errors then check the DNS logs from admin panel to know what went wrong.

On dnsscheck.tools i also get those errors on Ed25519 Bad/Expired/Missing Signatures...

Man, if you go by the linked dotnet issue, they apparently need Microsoft Crypto Board approval for new algorithms in dotnet

I mean, you could also go with a third party crypto lib like NSec or something, but that'd be more work I guess.

> Man, if you go by the linked dotnet issue, they apparently need Microsoft Crypto Board approval for new algorithms in dotnet
> 
> I mean, you could also go with a third party crypto lib like NSec or something, but that'd be more work I guess.

I have realized that Microsoft is going to sit on this for quite a long time meanwhile almost all DNS software out there have support for these algos. 

So, I have already implemented support for both of them using BouncyCastle crypto library just a couple of weeks back. Both algos will be available for validation as well as for signing primary zones. 

This will be available in the upcoming update planned to be released in a week or two depending on how much time for a few other things needs including testing.

> > Man, if you go by the linked dotnet issue, they apparently need Microsoft Crypto Board approval for new algorithms in dotnet
> > I mean, you could also go with a third party crypto lib like NSec or something, but that'd be more work I guess.
> 
> I have realized that Microsoft is going to sit on this for quite a long time meanwhile almost all DNS software out there have support for these algos.
> 
> So, I have already implemented support for both of them using BouncyCastle crypto library just a couple of weeks back. Both algos will be available for validation as well as for signing primary zones.
> 
> This will be available in the upcoming update planned to be released in a week or two depending on how much time for a few other things needs including testing.

That is awesome news mate.  It's the last thing I've been waiting for.   Thank you for this awesome piece of software.

Technitium DNS Server v13.5 is now available that adds support for ED25519 and ED448 DNSSEC algorithms for both signing zone and validation. Do update and let me know your feedback.

![Image](https://github.com/user-attachments/assets/f322184b-01c4-4941-b6d5-99101c3c9e95)